{
  "JWT_PRIVATE_KEY": "",
  "JWT_PUBLIC_KEY": "",
  "DYNAMODB_USER_TABLE": "",
  "DYNAMODB_USER_UNIQUENESS_TABLE": "",
  "DYNAMODB_REFRESH_TOKEN_HISTORY_TABLE": "",
  "AWS_ACCOUNT_ID": "",
  "SQS_EMAIL_QUEUE_NAME": ""
}